
/* Headline 2 size. */
$font-size-xl: 1.125rem;
/* Headline 5 size. */
$font-size-sml: 0.875rem;
/* Label size. */
$font-size-xxsml: 0.625rem;
/* Headline 6 size. */
$font-size-xsml: 0.8125rem;
/* Secondary brand colour. */
$colour-brand-secondary: rgb(92, 101, 214);
/* Headline 3 size. */
$font-size-large: 1rem;
/* Primary brand colour. */
$colour-brand-primary: rgb(21, 34, 178);
/* Tertiary brand colour. */
$colour-brand-tertiary: rgb(54, 62, 76);
/* Headline 1 size. */
$font-size-xxl: 1.1875rem;
/* Headline 4 size. */
$font-size-med: 0.9375rem;
